.rooms {
  max-width: 35rem;
  margin: 50px auto 0 auto;
}

.room {
  align-items: center;
  margin: 5px;
  border-radius: 10px !important;
}

.room-name {
  padding-right: 10px;
}

@media (max-width: 450px) {
  .room {
    flex-direction: column;
    padding: 5px;
  }

  .room > * {
    margin: 5px;
  }

  .room-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
